body{
    background: #FFE0D5;
    margin: 0;
    padding:0;
}
/*设置小字体*/
.my_small{
    font-size: 0.8rem;
}

/*设置渐变的颜色*/
.my_gradient{
    background: linear-gradient(to bottom,#D3EDFA,#BFE8FC);
}
.my_btn_color{
    width: 1.5rem;
    background:linear-gradient(to bottom,#FFE0D5,#D3EDFA);
}

/*设置引入头部的高宽*/
/*.my_header{
    width: 100%;
}*/
/*pad和手机端内容换行显示，高度不够，需要设置*/
@media screen and (max-width: 991px){
/*.my_header{
    width: 100%;
    height: 14rem;
}*/
}
.my_footer{
    width: 100%;
    height: 23rem;
}
@media screen and (max-width: 991px){
    .my_footer{
        width: 100%;
        height: 39rem;
    }
}
