body{
    background-color:#FFE0D5;
}


/*分页*/
.page-item .page-link{
    border-color: #bbb;
}
/*右侧公告中购物车内文字宽度*/
span.input-group-text{
    width: 50%;
}
.img_height{
height:15rem;
}

/*轮播图宽度*/
.carousel-item img{
    width:100%;
   height: 450px;
}

@media screen and (min-width:991px){
    .my_shop_input{
        width: 1rem;
    }
    .my_pro_input{
        width: 6rem !important;
        height: 25px;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px){
    .my_shop_input{
        width: 1rem;
    }
    .my_price{
        display: none !important;
    }
}



